:host {
    border: 1px solid #ccc;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

/* ::ng-deep [yt-description]{
    display: block;
    margin-top: 32px;

    color: #4c4949;
} */